@import "tailwindcss";

body{
  background-size: cover;                         
  background-repeat: no-repeat;                    
  background-position: center;                    
  background-attachment: fixed; 
}